# Assignment 7
*This is an **individual** assignment.*

The objective of this assignment is to give you experience using regular expressions.  Note that you may be able to figure out how to some problems without using regular expressions, but you will only recieve full credit if you use regular expressions!

Please meet the specific requirements exactly. Do not change or remove any of the instructions; just add you name and NetID in the Markdown cell below and code in two code cells as indicated.  Please make sure to test your programs before submitting your solutions on Canvas!  You can add extra cells to debug, but please remove them before submitting as it makes grading easier.

**Name:** Tirth Gala

**NetID:** tg260

## Part 1: Extract domains from email addresses

In this problem, you will extract a sorted list of domains from a collection of email addresses.

To achieve this, use the folllowing steps.

- Load email addresses data from `email_addresses.txt`
- Use `re.findall` to find all domains in the email data
- [Turn the resulting list into a set](https://www.geeksforgeeks.org/python-set-method/) to get rid of duplicates.
- Sort the set of domains.
- Write out the sorted domains to `email_domains.txt`.

In [2]:
# TODO: insert your code here!
import re
emailid_set= set()
pattern = r'@(\w+\.\w+)'
email_id =open('email_addresses.txt','r')
x = email_id.readlines()
for r in range(0,len(x)):
    domains = re.findall(pattern, x[r])
    emailid_set.add(domains[0])
    sort_emailid_set = sorted(emailid_set)
email_domains = open('email_domains.txt','w')
email_domains.write("")
for y in sort_emailid_set:
    z = y+"\n"
    email_domains.write(z)

## Part 2: Standardize customer phone numbers

Phone numbers can be provided in a wide variety of formats.  In this problem, you'll convert customer phone numbers to a standard format.  

First, you'll read in data from `phone_numbers.csv` using `pandas`; the first five lines of this file look like this.

```
gender,phone.number                                                             
male,(785) 750-5989                                                             
female,472.232.3813                                                             
male,+13607906573                                                               
male,(505)644-0445 
```

This Jupyter notebook will walk you through the necessary steps.  At the end, you will export the resulting data to `reformatted_phone_numbers.csv`; the first five lines should match the following.

```
gender,phone.number                                                             
male,785-750-5989                                                               
female,472-232-3813                                                             
male,360-790-6573                                                               
male,505-644-0445 
```

Hint:looka at part 2 of assignmtn 6

In [3]:
# TODO: Load customer data from 'phone_numbers.csv'
import pandas as pd
customer_data = pd.read_csv('phone_numbers.csv')

In [4]:
# TODO: Remove any non-digit characters in the phone.number column
# Hint: we used the same method in Part 2 of Assignment 6, just without RE
customer_data["phone.number"] = customer_data["phone.number"].str.replace(r"\D","", regex=True)
for i in range(0,len(customer_data)):
    customer_data["phone.number"][i] = customer_data["phone.number"][i][-10:]

In [5]:
# TODO: Reformat the phone numbers to a 3-3-4 format
# For example "+12223330000" will become "222-333-0000
# This might be the hardest thing to figure out.  Be patient with yourself!!
import re
def format_phone_number(phone_number):
    code = r'(\d{3})(\d{3})(\d{4})'
    new_number = re.sub(code, r'\1-\2-\3', phone_number)
    return new_number
for i in range(len(customer_data)):
    customer_data["phone.number"][i] = format_phone_number(customer_data["phone.number"][i])

In [6]:
# TODO: write out the resulting data to 'reformatted_phone_numbers.csv'
customer_data.to_csv("reformatted_phone.numbers.csv",index = False)

### Extra Credit!

If you've made it this far you've completed all the required parts of this assignment.

For some extra credit, let's map area codes to states and tally phone numbers by state.

In [7]:
# TODO: use RE to extract the three digit area code at the start of each phone number 
# and create a new column for the area code. Later, it will be important to convert
# this column to an int data type, so do so now!
import re
import pandas as pd
# display(customer_data['phone.number'].tolist())
ac = [int(re.search(r'^(\d{3})', number).group(1)) for number in customer_data['phone.number'].tolist()]
customer_data['Area Code'] = ac

In [8]:
# Pandas has a great method to scrape an HTML table and convert it to a DataFrame.  Let's use it!
area_codes = pd.read_html("https://en.wikipedia.org/wiki/List_of_North_American_Numbering_Plan_area_codes")[8]
area_codes

,State,Codes
0,Alabama (list),"205, 251, 256, 334, 659, 938"
1,Alaska (list),907
2,Arizona (list),"480, 520, 602, 623, 928,"
3,Arkansas (list),"327, 479, 501, 870"
4,California (list),"209, 213, 279, 310, 323, 341, 350, 369, 408, 4..."
5,Colorado (list),"303, 719, 720, 970, 983"
6,Connecticut (list),"203, 475, 860, 959"
7,Delaware (list),302
8,District of Columbia (list),"202, 771"
9,Florida (list),"239, 305, 321, 324, 352, 386, 407, 448, 561, 6..."
10,Georgia (list),"229, 404, 470, 478, 678, 706, 762, 770, 912, 943"
11,Hawaii (list),808
12,Idaho (list),"208, 986"
13,Illinois (list),"217, 224, 309, 312, 331, 447, 464, 618, 630, 7..."
14,Indiana (list),"219, 260, 317, 463, 574, 765, 812, 930"
15,Iowa (list),"319, 515, 563, 641, 712"
16,Kansas (list),"316, 620, 785, 913"
17,Kentucky (list),"270, 364, 502, 606, 859"
18,Louisiana (list),"225, 318, 337, 457, 504, 985"
19,Maine (list),207
20,Maryland (list),"227, 240, 301, 410, 443, 667"
21,Massachusetts (list),"339, 351, 413, 508, 617, 774, 781, 857, 978"
22,Michigan (list),"231, 248, 269, 313, 517, 586, 616, 679, 734, 8..."
23,Minnesota (list),"218, 320, 507, 612, 651, 763, 924, 952"
24,Mississippi (list),"228, 601, 662, 769"
25,Missouri (list),"235, 314, 417, 557, 573, 636, 660, 816, 975"
26,Montana (list),406
27,Nebraska (list),"308, 402, 531"
28,Nevada (list),"702, 725, 775"
29,New Hampshire (list),603
30,New Jersey (list),"201, 551, 609, 640, 732, 848, 856, 862, 908, 973"
31,New Mexico (list),"505, 575"
32,New York (list),"212, 315, 329, 332, 347, 363, 516, 518, 585, 6..."
33,North Carolina (list),"252, 336, 472, 704, 743, 828, 910, 919, 980, 984"
34,North Dakota (list),701
35,Ohio (list),"216, 220, 234, 283, 326, 330, 380, 419, 436, 4..."
36,Oklahoma (list),"405, 539, 572, 580, 918"
37,Oregon (list),"458, 503, 541, 971"
38,Pennsylvania (list),"215, 223, 267, 272, 412, 445, 484, 570, 582, 6..."
39,Rhode Island (list),401
40,South Carolina (list),"803, 821, 839, 843, 854, 864"
41,South Dakota (list),605
42,Tennessee (list),"423, 615, 629, 731, 865, 901, 931"
43,Texas (list),"210, 214, 254, 281, 325, 346, 361, 409, 430, 4..."
44,Utah (list),"385, 435, 801"
45,Vermont (list),802
46,Virginia (list),"276, 434, 540, 571, 686, 703, 757, 804, 826, 948"
47,Washington (list),"206, 253, 360, 425, 509, 564"
48,West Virginia (list),"304, 681"
49,Wisconsin (list),"262, 274, 353, 414, 534, 608, 715, 920"
50,Wyoming (list),307

In [9]:
# TODO: use RE to get rid of the " (list)" in each row of the 'State' column
area_codes['State'] = area_codes['State'].str.replace(r'(list)','')

C:\Users\Tirth\AppData\Local\Temp\ipykernel_37432\3487141277.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  area_codes['State'] = area_codes['State'].str.replace(r'(list)','')

In [10]:
# Here's another handy trick: split the codes into a list
area_codes = area_codes.assign(Codes=area_codes.Codes.str.split(","))

In [11]:
# Now let's explode that list!
area_codes = area_codes.explode("Codes").reset_index(drop=True)

In [12]:
# TODO: Get rid of all rows with empty area codes (Arizona had a hanging comma at the end)
# and create a area code column with an integer type (merging later won't work otherwise)
# Why do we want ints?  Sometimes object columns can bring garbage with them that causes merges to fail.
area_codes = area_codes[area_codes['Codes'].apply(lambda x: re.search(r'\d', str(x)) is not None)]
area_codes['Codes'] = area_codes['Codes'].astype(int)

In [13]:
# TODO: Merge our phone data with our area code data.
final_df = pd.merge(customer_data,area_codes,left_on='Area Code',right_on='Codes')

In [14]:
# TODO: Group by state and count the instances of each state.
a = final_df.groupby('State').size().reset_index(name='Count')

In [15]:
# TODO: write out the resulting data to 'Customer_States.csv' (example lines shown below)
a.to_csv('Customer_States.csv', index=False)

The extra credit output file `Customer_States.csv` should have the folllowoing first five lines.

```
State,Count                                                                     
Alabama,5                                                                       
Alaska,2                                                                        
Arizona,11                                                                      
Arkansas,91 
```